<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.productPicture.dao.ProductPictureDAO">
	<!-- 상품 사진 추가 -->
	<insert id="insertProductPicture" parameterType="map">
		INSERT INTO `product_picture`
		(
			`productId`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{productId}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>