<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.product.dao.ProductDetailDAO">
	<!-- 상품 상세 목록 -->
	<select id="selectProductDetailList" parameterType="int" resultType="com.mall.product.model.ProductDetail">
		SELECT
			`id`
			,`productId`
			,`color`
			,`size`
			,`amount`
			,`createdAt`
			,`updatedAt`
		FROM
			`product_detail`
		WHERE
			`productId` = #{productId}
		ORDER BY `id` DESC
	</select>
	
	<!-- 상품 상세 조회 -->
	
	
	<!-- 상품 상세 추가 -->
	<insert id="insertProductDetail" parameterType="map">
		INSERT INTO `product_detail`
		(
			`productId`
			,`color`
			,`size`
			,`amount`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{productId}
			, #{color}
			, #{size}
			, #{amount}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>