<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.product.dao.ProductPictureDAO">
	<!-- 상품 사진 조회 -->
	<select id="selectProductPictureListByProductId" parameterType="int" resultType="com.mall.product.model.ProductPicture">
		SELECT
			`id`
			,`productId`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`product_picture`
		WHERE
			`productId` = #{productId}
	</select>
	
	<!-- 상품 사진 추가 -->
	<insert id="insertProductPicture" parameterType="map">
		INSERT INTO `product_picture`
		(
			`productId`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{productId}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 상품 사진 삭제 -->
	<delete id="deleteProductPicture" parameterType="int">
		DELETE
		FROM
			`product_picture`
		WHERE
			`productId` = #{productId}
	</delete>
</mapper>