<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.purchase.dao.PurchaseDAO">
	<!-- 판매 목록 -->
	<select id="selectPurchaseListAll" resultType="com.mall.purchase.model.Purchase">
		SELECT
			`id`
			,`userId`
			,`totalPrice`
			,`name`
			,`phoneNumber`
			,`postcode`
			,`address`
			,`detailAddress`
			,`message`
			,`courier`
			,`trackingNumber`
			,`cancellation`
			,`createdAt`
			,`updatedAt`
		FROM
			`purchase`
		ORDER BY `id` DESC
	</select>
	
	<!-- 구매 목록 -->
	<select id="selectPurchaseList" parameterType="int" resultType="com.mall.purchase.model.Purchase">
		SELECT
			`id`
			,`userId`
			,`totalPrice`
			,`name`
			,`phoneNumber`
			,`postcode`
			,`address`
			,`detailAddress`
			,`message`
			,`courier`
			,`trackingNumber`
			,`cancellation`
			,`createdAt`
			,`updatedAt`
		FROM
			`purchase`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
	</select>
	
	<!-- 구매 조회 -->
	<select id="selectPurchaseById" parameterType="int" resultType="com.mall.purchase.model.Purchase">
		SELECT
			`id`
			,`userId`
			,`totalPrice`
			,`name`
			,`phoneNumber`
			,`postcode`
			,`address`
			,`detailAddress`
			,`message`
			,`courier`
			,`trackingNumber`
			,`cancellation`
			,`createdAt`
			,`updatedAt`
		FROM
			`purchase`
		WHERE
			`id` = #{id}
	</select>
	
	<!-- 구매 추가 -->
	<insert id="insertPurchase" parameterType="com.mall.purchase.model.Purchase" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `purchase`
		(
			`userId`
			,`totalPrice`
			,`name`
			,`phoneNumber`
			,`postcode`
			,`address`
			,`detailAddress`
			,`message`
			,`cancellation`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{totalPrice}
			, #{name}
			, #{phoneNumber}
			, #{postcode}
			, #{address}
			, #{detailAddress}
			, #{message}
			, 0
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 구매 취소 -->
	<update id="updatePurchase" parameterType="int">
		UPDATE `purchase`
		SET
			`cancellation` = 1
			,`updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
</mapper>