<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.purchase.dao.PurchaseDAO">
	<!-- 구매 추가 -->
	<insert id="insertPurchase" parameterType="com.mall.purchase.model.Purchase" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `purchase`
		(
			`userId`
			,`totalPrice`
			,`name`
			,`phoneNumber`
			,`postcode`
			,`address`
			,`detailAddress`
			,`message`
			,`cancellation`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{totalPrice}
			, #{name}
			, #{phoneNumber}
			, #{postcode}
			, #{address}
			, #{detailAddress}
			, #{message}
			, 0
			, NOW()
			, NOW()
		)
	</insert>
</mapper>