<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.purchase.dao.WishListDAO">
	<!-- 장바구니 목록 -->
	<select id="selectWishListList" parameterType="int" resultType="com.mall.purchase.model.WishList">
		SELECT
			`id`
			,`userId`
			,`productId`
			,`productDetailId`
			,`amount`
			,`createdAt`
			,`updatedAt`
		FROM
			`wish_list`
		WHERE
			`userId` = #{userId}
	</select>
	
	<!-- 장바구니 조회 -->
	<select id="selectWishListById" parameterType="int" resultType="com.mall.purchase.model.WishList">
		SELECT
			`id`
			,`userId`
			,`productId`
			,`productDetailId`
			,`amount`
			,`createdAt`
			,`updatedAt`
		FROM
			`wish_list`
		WHERE
			`id` = #{id}
	</select>
	
	<!-- 장바구니 추가 -->
	<insert id="insertWishList" parameterType="map">
		INSERT INTO `wish_list`
		(
			`userId`
			,`productId`
			,`productDetailId`
			,`amount`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{productId}
			, #{productDetailId}
			, #{amount}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteWishList" parameterType="map">
		<foreach item="id" collection="idList" separator=";" close=";">
		DELETE
		FROM
			`wish_list`
		WHERE
			`id` = #{id}
			AND `userId` = #{userId}
		</foreach>
	</delete>
</mapper>