@charset "UTF-8";

a {color:#000;}
a:hover {color:#666; text-decoration:none;}

#wrap {width:1200px; margin:0 auto;}
header {height:80px;}
.center {min-height:500px;}
.contents {width:1100px;}
aside {width:100px;}
footer {height:50px;}

.logo:hover {color:#000;}

.user-box {width:400px; margin:0 auto;}