@charset "UTF-8";

a {color:#000;}
a:hover {color:#666; text-decoration:none;}

#wrap {width:1200px; margin:0 auto;}
header {height:80px;}
.center{height:auto;}
.contents {width:1100px;}
aside {width:100px;}
footer {height:80px;}

.logo:hover {color:#000;}

.input-box {width:400px; margin:0 auto;}
.input-big-box {width:800px; margin:0 auto;}
.input-small-box {width:350px;}

.my-page-box {width:150px;}

.product-main-box {overflow:hidden; text-align:justify;}
.product-small-box {display:inline-block; width:250px; height:300px; margin: 0 10px;}
.product-big-box {display:inline-block; width:330px; height:500px; margin: 0 15px;}

.purchase-box {height:200px;}